@model IEnumerable<HospitalManagementSystem.Models.Appointments>

@{
    ViewBag.Title = "AppointmentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Appointment</li>
        <li class="active">Appointment List</li>
    </ol>
</div>

<h2>Department List</h2>

<p>
    @Html.ActionLink("Create New", "Appointment")
</p>
<table id="table_id" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDaysSick)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDaysSick)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAppointment", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteAppointment", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}