<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HM System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Doctor", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Patient", "Index", "Patient")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <!-- script tags
    ============================================================= -->
    <!-- footer -->
    <!------ Include the above in your HEAD tag ---------->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <h2 class="mb-sm-3 mb-2">
                        @Html.ActionLink("HM System", "Index", "Home", new { area = "" }, new { @class = "text-white font-italic font-weight-bold" })
                    </h2>
                    <p>
                        The objective of the hospital management system is to help hospital administrators to have an electronic
                        system instead of manual system so that the data management will be more easy, secure and fast.
                    </p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>HM System</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h3><p>Contacts</p></h3>
                <div class="contact-block clearfix">
                    <div class="left-block">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="right-block">
                        <h4 class="contact-block-heading"><p>Office Address</p></h4>
                        <p class="contact-block-paragrap">University of Engineering & Technology<span>GT Road,</span>Lahore,Pakistan. </p>
                    </div>
                </div>
                <div class="contact-block clearfix">
                    <div class="left-block">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="right-block">
                        <h4 class="contact-block-heading"><p>Phone</p></h4>
                        <p class="contact-block-paragrap">Local: +92301234567</p>
                        <p class="contact-block-paragrap">Mobile: 041234567871</p>
                    </div>
                </div>
                <div class="contact-block clearfix">
                    <div class="left-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="right-block">
                        <h4 class="contact-block-heading"><p>Email Address</p></h4>
                        <p class="contact-block-paragrap">info@examplecom</p>
                        <p class="contact-block-paragrap">example@exapmle.com</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-xl-3">
                <h3><p>Quick Links</p></h3>
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>

                    <li>
                        @Html.ActionLink("About Us", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact Us", "Contact", "Home")
                    </li>
                </ul>
            </div>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Hospital Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Doctor", "Index", "Doctor")</li>
                            <li>@Html.ActionLink("Patient", "Index", "Patient")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @*@RenderBody()*@
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Hospital Management System</p>
                </footer>
            </div>
        </div>
            <ul class="text-center contact">
                <li class="socials-icons">
                    <a href="#" data-toggle="tooltip" title="Share in Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="socials-icons">
                    <a href="#" data-toggle="tooltip" title="Share in Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="socials-icons">
                    <a href="#" data-toggle="tooltip" title="Share in Google +" class="google-plus"><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="socials-icons">
                    <a href="#" data-toggle="tooltip" title="Share in Instagram" class="instagram"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="socials-icons">
                    <a href="#" data-toggle="tooltip" title="Share in Pinterest" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </li>
                <li class="socials-icons">
                    <a href="#" data-toggle="tooltip" title="Connect with Skype" class="skype"><i class="fa fa-skype"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>