@model HospitalManagementSystem.Models.AssignedDoctorsAndPatients

@{
    ViewBag.Title = "Details";
}

<h2>List Of Appointments</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctors.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctors.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patients.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patients.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
