@model HospitalManagementSystem.Models.Attendence

@{
    ViewBag.Title = "Details";
}

<h2>Details Of Attendences</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkAttendence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkAttendence)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
